<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <form th:method="POST" th:action="@{/artist}">
        <label>Search category</label>
        <input name="Search category" ><input type='submit' value='Submit'>
        <div th:each="song : ${songList}">
            <input type="radio" name="songRadio" th:id="${song.getTrackId()}" th:value="${song.getTrackId()}">
            <label th:for="${song.getTrackId()}" th:text="'Title: ' + ${song.getTitle()} + ', Genre: ' + ${song.getGenre()} + ', Release Year: ' + ${song.getReleaseYear()} +
            ', Album name: '+${song.getAlbum().getName()}"></label>
            <a th:href="${'/songs/edit-form/'+ song.getId()}" >Edit</a>
            <a th:href="${'/songs/delete/'+ song.getId()}">Delete</a>
            <br>
        </div>
        <br>
        <input type='submit' value='Submit'>
    </form>
    <a th:href="@{/songs/add-form}" >Add song</a>
</main>
</body>
</html>