<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>
    <form th:action="@{/artist}" th:method="POST" >
        <div th:each="artist : ${artists}">
            <input th:type="radio" name="id" th:value="${artist.id}">
            <label th:text=" ${artist.firstName} + ' ' + ${artist.lastName}"></label>
        </div>
        <input type='submit' value='Add artist'>
    </form>
    <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->




</section>
<aside>
    <table>
        <tr>
            <!-- change to show selected trackId -->
            <td><b>Track Id</b></td>
            <td><label th:text="${trackId}"></label></td>
        </tr>
    </table>
</aside>
</body>
</html>