<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
   <form th:method="POST" th:action="@{/listSongs}">
       <div th:each="song : ${songList}">
           <input th:type="radio" name="trackId" th:value="${song.trackId}">
           <label th:text="' Title: ' + ${song.title} + ' Genre: ' + ${song.genre} + ' Release year: ' + ${song.releaseYear} + 'Album:' + ${song.album}"></label>
           <a th:href="${'/songs/edit-form/'+ song.getId()}" >Edit</a>
           <a th:href="${'/songs/delete/'+ song.getId()}">Delete</a>
       </div>
       <input type='submit' th:value='Submit'>
   </form>
    <a th:href="@{/songs/add-form}">Add Song</a>
</main>
</body>
</html>