<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center">Welcome to the album page!</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Release Year</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody th:each="album : ${listAlbum}">
    <tr>
        <th scope="row" th:text="${album.getId()}"></th>
        <td th:text="${album.getName()}"></td>
        <td th:text="${album.getGenre()}"></td>
        <td th:text="${album.getReleaseYear()}"></td>
        <td style="white-space:nowrap">
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-primary btn-sm" th:href="${'/album/edit-form/'+ album.getId()}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="${'/album/delete/'+ album.getId()}">Delete</a>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
<a class="btn btn-primary" th:href="@{/album/add-form}" >Add album</a>
</th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>